@font-face {
    font-family: "Little Cutie";
    src: url("../fonts/Little Cutie.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Little Cutie";
    src: url("../fonts/Little Cutie.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Little Cutie";
    src: url("../fonts/Little Cutie.ttf");
    font-weight: bolder;
}

aside ul {
    text-align: left;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
    margin: 0;
    padding: 1em;
    background-color: #FFD316;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Little Cutie";
}

header {
    text-align: center;
}

input {
    box-sizing: border-box;
    display: block;
    margin-top: .25em;
    margin-bottom: .25em;
    padding: 0.5em;
    border-radius: 6px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="tel"] {
    border: 1px solid #FFD316;
    width: 100%;
    margin-bottom: 1.5em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus {
    border-color: #E8A50C;
    box-shadow: inset 0 0 .5em #FFD316;
}

nav {
    background-color: #FFD316;
    display: block;
    margin: 0;
    padding: 0 1em;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

nav ul,
nav header,
nav header h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    padding: 1em;
    transition: 0.25s all ease-in;
}

nav ul li a:hover,
nav ul li a:focus {
    box-shadow: inset 0 -6px 0 #333, inset 0 6px #333;
}

.area-registro {
    padding: 1em;
}

.boton-primario {
    border: none;
    background-color: #FFD316;
    background: linear-gradient(to top, #E8A50C, #FFD316);
    border-radius: 6px;
    font-size: 1em;
    padding: 1em;
    margin: 0 auto 1em auto;
}

.boton-primario:active {
    background: linear-gradient(to bottom, #E8A50C, #FFD316);
}

.boton-primario:hover {
    box-shadow: 0 .1em .2em #E8A50C;
    background: linear-gradient(to top, #E8A50C, #FFD316);
}

.contenedor {
    border-bottom: 3px solid #E8A50C;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    padding: 1em;
    margin: 0 auto 1em auto;
    background-color: #fff;
    text-align: center;
}

.contenedor-inicio-registro {
    background-image: url("../img/fondo.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor-inicio-registro h3 {
    font-size: 2em;
}

.logo {
    color: #fff;
    font-size: 5em;
    margin: 1rem auto 1rem auto;
    text-shadow: 0 5px 2px rgba(0, 0, 0, 0.1);
}

.mi-perfil {
    background-color: rgb(245, 245, 245);
    padding-top: 3.5em;
    text-align: center;
}

.mi-perfil .area-personal img {
    max-width: 200px;
    border-radius: 9999px;
}

.mi-perfil .contenedor-contenido {
    margin: 0 auto;
    max-width: 80%;
}

