@font-face {
    font-family: "jose";
    src: url("../fonts/Josefin_Sans/JosefinSans-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "jose";
    src: url("../fonts/Josefin_Sans/JosefinSans-Bold.ttf");
    font-weight: bold;
}

body {
    background: #333;
    color: #FFF;
    font-family: "jose";
    font-size: 22px;
    margin: 0;
    padding: 3em 0 0 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "jose";
    font-weight: bold;
}

header {
    background-image: url("../img/fondo.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 400px;
    text-align: center;
    padding: 3em;
}

footer {
    background: #EEE;
    color: #333;
    margin: 0;
    padding: 1.5em 1em;
}

.img-perfil {
    display: block;
    border: 6px solid #FFF;
    border-radius: 9999px;
    margin: 1em auto;
    max-width: 250px;
}

.contenedor {
    background: #666;
    border-radius: 4px;
    padding: 1.5em 1em;
    margin-bottom: 1em;
}

.contenedor-principal {
    margin: 1em auto;
    padding: 0;
    max-width: 80%;
}

.contenedor-portafolio img {
    border: 6px solid #FFF;
    max-width: 100%;
}

.contenedor-portafolio img:hover {
    transform: scale(1.1) rotate(10deg);
}

nav {
    background: #FFD316;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

nav a {
    display: inline-block;
    color: #333;
    padding: 1em 1.5em;
}
